<div class="container">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div class="content" style="box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.4); padding: 20px; border-radius: 15px; overflow: auto; background-color: rgba(255,255,255,0.7); margin-top: 20px">
      <div class = "col-xs-12">
        <h3 class="text-center" style="margin-top: 10px;">解析した動画</h3>
        <hr style="border-top-color: black;"></hr>
        <div class = "embed-responsive embed-responsive-16by9 col-xs-12 text-center">
          <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/<%= @user_send_video %>"></script>
        </div>
        <div class = "content">
          <h3 class="text-center" style="margin-top: 320px;">この動画の特徴語</h3>
          <hr style="border-top-color: black;"></hr>
          <ul class="list-group">
            <% @video_tfidf.first(10).each do |word| %>
                <li class="list-group-item col-xs-6"><%= word %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="content" style="box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.4); padding: 20px; border-radius: 15px; overflow: auto; background-color: rgba(255,255,255,0.7); margin-top: 20px">
      <div class="col-xs-12">
        <h3 class="text-center" style="margin-top: 10px">Nicommendのおすすめ</h3>
        <hr style="border-top-color: black;"></hr>
        <% @recommend.each_with_index do |id, i| %>
            <div class = "content">
              <% if i == 0 %>
                  <h4 class="text-center">第<%= i + 1 %>位</h4>
              <% else %>
                  <h4 class="text-center" style="margin-top: 310px;">第<%= i + 1 %>位</h4>
              <% end %>
              <div class = "embed-responsive embed-responsive-16by9 col-xs-12 text-center">
                <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/<%= id %>"></script>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>